@model BluePumpkinn.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Details of @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Surname)</h4>
    <hr />
    <div class="row">

        <div class="col-xs-3">
            <img class="img-responsive" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" style="height:200px;width:200px;" />
        </div>

        <div class="col-xs-2">
            <div>@Html.DisplayNameFor(model => model.UserName)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.BirthDate)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.Email)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.EmailConfirmed)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.PhoneNumber)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)</div>
        </div>

        <div class="col-xs-7">
            <div>@Html.DisplayFor(model => model.UserName)</div>
            <br />
            <div>@Html.DisplayFor(model => model.BirthDate.Date)</div>
            <br />
            <div>@Html.DisplayFor(model => model.Email)</div>
            <br />
            <div>@Html.DisplayFor(model => model.EmailConfirmed)</div>
            <br />
            <div>@Html.DisplayFor(model => model.PhoneNumber)</div>
            <br />
            <div>@Html.DisplayFor(model => model.PhoneNumberConfirmed)</div>   
        </div>
        




        @*<dd>
            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" style="height:200px;width:200px;" />

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>*@

    </div>
</div>
<p>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Back to List</a>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ 
    @*<button type="button" class="btn btn-primary" onclick="GoBack()">Spat</button>*@ 
</p>

@*<script>
    function GoBack() {
        window.history.go(-1);
    }
</script>*@


