@model BluePumpkinn.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Details of @Html.DisplayFor(model => model.Firstname) @Html.DisplayFor(model => model.Surname)</h4>
    <hr />
    <div class="row">

        <div class="col-xs-3">
            <img class="img-responsive" src="data:image/png;base64,@Convert.ToBase64String(Model.Photo)" style="height:200px;width:200px;" />
        </div>

        <div class="col-xs-2">
            <div>@Html.DisplayNameFor(model => model.UserName)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.BirthDate)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.Email)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.EmailConfirmed)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.PhoneNumber)</div>
            <br />
            <div>@Html.DisplayNameFor(model => model.PhoneNumberConfirmed)</div>
        </div>

        <div class="col-xs-7">
            <div>@Html.DisplayFor(model => model.UserName)</div>
            <br />
            <div>@Html.DisplayFor(model => model.BirthDate.Date)</div>
            <br />
            <div>@Html.DisplayFor(model => model.Email)</div>
            <br />
            <div>@Html.DisplayFor(model => model.EmailConfirmed)</div>
            <br />
            <div>@Html.DisplayFor(model => model.PhoneNumber)</div>
            <br /> 
        </div>
      

    </div>
</div>
<p>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to List</a>

</p>


