@{
    ViewBag.Title = "Home Page";
}
@*@{
    var event1 = Html.Action("Index", "Event");
}*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>Blue Pumpkinn</title>
    <link href="~/Content/hover_pack.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/colors/color-74c9be.css" rel="stylesheet">
    <link href="~/Content/animations.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">


    <!-- JavaScripts needed at the beginning
    ================================================== -->
    <script type="text/javascript" src="http://alvarez.is/demo/marco/assets/js/twitterFetcher_v10_min.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
   
    <!-- MAP SCRIPT - ALL CONFIGURATION IS PLACED HERE - VIEW OUR DOCUMENTATION FOR FURTHER INFORMATION -->
   @* <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&sensor=false"></script>*@
        <script type="text/javascript">
            // When the window has finished loading create our google map below
            google.maps.event.addDomListener(window, 'load', init);

            function init() {
                // Basic options for a simple Google Map
                // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 11,

                    scrollwheel: false,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(40.6700, -73.9400), // New York

                    // How you would like to style the map.
                    // This is where you would paste any style found on Snazzy Maps.
                    styles: [	{		featureType:'water',		stylers:[{color:'#74c9be'},{visibility:'on'}]	},{		featureType:'landscape',		stylers:[{color:'#f2f2f2'}]	},{		featureType:'road',		stylers:[{saturation:-100},{lightness:45}]	},{		featureType:'road.highway',		stylers:[{visibility:'simplified'}]	},{		featureType:'road.arterial',		elementType:'labels.icon',		stylers:[{visibility:'off'}]	},{		featureType:'administrative',		elementType:'labels.text.fill',		stylers:[{color:'#444444'}]	},{		featureType:'transit',		stylers:[{visibility:'off'}]	},{		featureType:'poi',		stylers:[{visibility:'off'}]	}]
                };

                // Get the HTML DOM element that will contain your map
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using out element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);
            }
        </script>
    <!-- Collapse efects for FAQ section -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Main Jquery & Hover Effects. Should load first -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/hover_pack.js"></script>
    <script src="~/Scripts/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <! ========== HEADERWRAP ====================================================================================================
    =============================================================================================================================>
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown">We are Blue Pumpkinn. Changing the world since 1995.</h1>
                    <p class="mt"><a href="#company"><button type="button" class="btn btn-cta btn-lg">More about Us</button></a></p>
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </div> <!-- /headerwrap -->
    <! ========== BLOG POSTS ====================================================================================================
    =============================================================================================================================>
    <div id="black"><!-- /white -->
        <div class="container">
            <div class="row mt">
                <div class="col-lg-4 col-lg-offset-4 centered">
                    <h3>How to participate in company event or competition:</h3>
                    <hr>
                </div>
            </div>
            <div class="row mt">
                <div class="col-lg-3">   
                    <i class="fa fa-user"></i><i class="fa fa-plus"></i>
                    <h4>Register or Sign in</h4>
                    <p class="text-justify">First, if aren't registered, you have to register yourself into this website. While You are registered, you can sign in. You can find Register and Sign in buttons on top right corner of this site</p>
                </div>
                <div class="col-lg-3">
                    <i class="fa fa-crosshairs"></i>
                    <h4>Pick event</h4> 
                    <p class="text-justify">Pick Your event from a ready-made events.</p>
                </div>
                <div class="col-lg-3">
                    <i class="fa fa-clock-o"></i>
                    <h4>Wait for confirmation</h4>
                    <p class="text-justify">You have to wait for admin to confirm Your participation in the chosen event od competition.</p>
                </div>

                <div class="col-lg-3">
                    <i class="fa fa-gamepad"></i>
                    <h4>Participate</h4>
                    <p class="text-justify">When admin approved event or competition, You get notification about it and can instantly participate.</p>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /white -->
    <! ========== CALL TO ACTION 1 ==============================================================================================
    =============================================================================================================================>
    @*<div id="cta01">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>The probability of success is difficult to estimate;<br />but if we never search, the chance of success is zero.</h2>
                    <button type="button" class="btn btn-cta btn-lg">LEARN MORE</button>
                </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><! --/cta01 -->*@
    <! ========== ACTUAL EVENTS SECTION ================================================================================================
    =============================================================================================================================>
     <div class="container">
        <div class="row mt centered">
            <div class="col-lg-4 col-lg-offset-4">
                <a href="/Account/Login"><button type="button" class="btn btn-theme btn-lg">Sign in</button></a>
                <a href="/Account/Register"><button type="button" class="btn btn-theme btn-lg">Register</button></a>
            </div>
        </div><!-- /row -->
        <div id="eventsall" class="row mt">
            <div class="col-lg-4 centered si">
                    <a class="b-link-fade b-animate-go" href="@Url.Action("Event1", "Event")">
                        <img width="350" height="250" src="~/Images/charity.jpeg" alt="" />
                        <div class="b-wrapper">
                            <h4 class="b-from-left b-animate b-delay03">Charity Group</h4>
                            <p class="b-from-right b-animate b-delay03">View Details</p>
                        </div>
                    </a>
              </div>
            <div class="col-lg-4 centered si desc">
                    <a class="b-link-fade b-animate-go" href="@Url.Action("Event2", "Event")">
                        <img width="350" height="250" src="~/Images/chess.jpeg" alt="" />
                        <div class="b-wrapper">
                            <h4 class="b-from-left b-animate b-delay03">Chess Tournament</h4>
                            <p class="b-from-right b-animate b-delay03">View Details</p>
                        </div>
                    </a>
            </div>
            <div class="col-lg-4 centered si desc">
                <a class="b-link-fade b-animate-go" href="@Url.Action("Event3", "Event")">
                    <img width="350" height="250" src="~/Images/christmas.jpeg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">Christmas Raffle</h4>
                        <p class="b-from-right b-animate b-delay03">View Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 centered si desc">
                <a class="b-link-fade b-animate-go" href="@Url.Action("Event4", "Event")">
                    <img width="350" height="250" src="~/Images/employee.jpg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">Employee of the Month Competition</h4>
                        <p class="b-from-right b-animate b-delay03">View Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 centered si desc">
                <a class="b-link-fade b-animate-go" href="@Url.Action("Event5", "Event")">
                    <img width="350" height="250" src="~/Images/football.jpeg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">Football Tournament</h4>
                        <p class="b-from-right b-animate b-delay03">View Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 centered si desc">
                <a class="b-link-fade b-animate-go" href="@Url.Action("Event6", "Event")">
                    <img width="350" height="250" src="~/Images/global_438001916.jpeg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03">Company Vision Meeting</h4>
                        <p class="b-from-right b-animate b-delay03">View Details</p>
                    </div>
                </a>
            </div>
        </div><!-- /row -->
    </div><!-- /container --> 
    <! ========== BLACK SECTION - COMPANY ========================================================================================
    =============================================================================================================================>
    <div id="black">
        <div id="company" class="container">
            <div class="row mt centered">
                <div class="col-lg-4 col-lg-offset-4">
                    <h3>Our Company</h3>
                    <hr>
                </div><!-- /col-lg-4 -->
            </div><!-- /row -->

            <div class="row mt">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Blue Pumpkinn is the Internet Marketing Company providing different services like dial-up and broadband.</p>
                </div><! --/col-lg-8 -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /black -->
    <! ========== FEATURED ICONS ================================================================================================
    =============================================================================================================================>
    <div class="container">
        <div class="row mt centered">
            <div class="col-lg-4 col-lg-offset-4">
                <i class="fa fa-trophy fa-4x"></i>
                <h3>Recent Winners</h3>
                <hr>
            </div><!-- /col-lg-4 -->
        </div><!-- /row -->
        <div class="row mt">
            <div class="col-lg-4 centered si">
                <i class="fa fa-music"></i>
                <h4>Karaoke Marathon</h4>
                <p>First prize: James Franco</p>
            </div>
            <div class="col-lg-4 centered si">
                <i class="fa fa-rocket"></i>
                <h4>Speed Climbing</h4>
                <p>Winners: White Eagle Team</p>
            </div>
            <div class="col-lg-4 centered si">
                <i class="fa fa-globe"></i>
                <h4>Geocaching Time-Rally</h4>
                <p>Winners: Jessica Biel and Silvester Stallone</p>
            </div>
            <div class="col-lg-4 centered si">
                <i class="fa fa-cogs"></i>
                <h4>Engineering Competition</h4>
                <p>Winner: Jose Gonzalez</p>
            </div>
            <div class="col-lg-4 centered si">
                <i class="fa fa-flag"></i>
                <h4>Capture the Flag Tournament</h4>
                <p>Winnesr: IT Department Team</p>
            </div>
            <div class="col-lg-4 centered si">
                <i class="fa fa-money"></i>
                <h4>Employee of the Year</h4>
                <p>Winner: Ahmad El Mohammad</p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
    <! ========== OUR TEAM ======================================================================================================
    =============================================================================================================================>

    @*<div id="white">
        <div class="container">
            <div class="row mt">
                <div class="col-lg-4 col-lg-offset-4 centered">
                    <h3>Our Team</h3>
                    <hr>
                </div>
            </div><! --/row -->

            <div class="row">
                <div class="col-lg-4 centered">
                    <div class="members">
                        <img src="assets/img/team/gianni.png" alt="">
                        <div class="team-info">
                            <div class="subhead">Developer</div>
                            <h2 class="team-name">Gianni</h2>
                            <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
                        </div>
                    </div>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4 centered">
                    <div class="members">
                        <img src="assets/img/team/rebecca.png" alt="">
                        <div class="team-info">
                            <div class="subhead">Designer</div>
                            <h2 class="team-name">Rebecca</h2>
                            <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
                        </div>
                    </div>
                </div><!-- /col-lg-4 -->

                <div class="col-lg-4 centered">
                    <div class="members">
                        <img src="assets/img/team/william.png" alt="">
                        <div class="team-info">
                            <div class="subhead">Designer</div>
                            <h2 class="team-name">William</h2>
                            <p class="team-description"><i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-dribbble"></i></p>
                        </div>
                    </div>
                </div><!-- /col-lg-4 -->
            </div><! --/row -->
        </div><! --/container -->
    </div><! --/white -->*@
    <! ========== TESTIMONIAL CAROUSEL ==========================================================================================
    =============================================================================================================================>

    <div class="container">
        <div class="row mt">
            <div class="col-lg-4 col-lg-offset-4 centered">
                <h3>This is how our employees see our company:</h3>
                <hr>
            </div>
        </div><! --/row -->

        <div class="row mt">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <h2>This company is that good, I will provide some refugees for it.</h2>
                            <h5>Angela Merkel - secret EU commander</h5>
                        </div>

                        <div class="item">
                            <h2>I'm definitely happy to be part of this team.</h2>
                            <h5>Sherif Kenawy - Aptech Europe Trainer</h5>
                        </div>
                        <div class="item">
                            <h2>Welcome to the coolest company on the Earth.</h2>
                            <h5>Peter Hanak - Participant</h5>
                        </div>
                    </div><!-- /carousel-inner -->

                </div><! --/carousel-example -->
            </div><!-- /col-lg-8 -->
        </div><! --/row -->
    </div><!-- /container -->
    <! ========== CONTACT SECTION ===============================================================================================
    =============================================================================================================================>

    <div id="white">
        <div id="contact" class="container">

            <div class="row mt">
                <div class="col-lg-4 col-lg-offset-4 centered">
                    <h3>Contact Us</h3>
                    @*<p class="text-justify">This is pilot version of our social hub. Some of the functionality is subject to change.
In case of problems please visit BPEM.com/FAQ, or contact us at support@bluepumpkin.com</p>*@
                    <hr>
                </div>
            </div><! --/row -->
        </div><!-- /container -->
        @*<div id="map"></div>*@
        <div class="img-responsive"><img class="img-responsive" src="~/Images/mapka.png" alt="" /></div>
    </div><!-- /white -->
    <! ========== CALL TO ACTION BAR ===============================================================================================
    =============================================================================================================================>
    <div id="cta-bar">
        <div class="container">
            <div class="row centered">
                @Html.ActionLink("Do you Want To Create a New Event?", "EventForm")
            @*    <a href="#"><h4>Do You Want To Create A New Event?</h4></a>*@
            </div>
        </div><!-- /container -->
    </div><!-- /cta-bar -->
    <! ========== BLACK SECTION =================================================================================================
    =============================================================================================================================>
    <div id="white">
        <div class="container">
            <div class="row centered">
                <div class="centered">
                    <h3>Frequently asked questions (FAQ)</h3>
                    <hr>
                </div>
                <dv class="centered">
                    <h3 class="text-justify">
                        This website allows our employees ability to manage social gatherings in hope of creating
                        great working environment in our company. Each employee can create, and take part in various events.
                        This document is offering troubleshooting for various problems you can encounter, while using
                        BPEM(Blue Pumpkin Event Manager).
                    </h3>

                    <h4 class="text-justify">In case you encounter unanswered problem, please contact support@bluepumpkin.com.</h4>
                    <!-- /FAQ QUESTIONS-ANSWERS SECTION-->
                    <div class="btn-group-vertical">
                        <!-- /1.FAQ-->
                            <button type="button" class="btn btn-default btn-md" id="myBtn">1. How can I create my new profile?</button>

                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                            <h4 class="modal-title">1. How can I create my new profile?</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>New profile can be created by clicking on SignIn button in top right corner, next you fill in your email, and password. Next you will receive </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /2.FAQ-->
                        <button type="button" class="btn btn-default btn-md" id="myBtn1">2. How can I participate in a event?</button>

                        <div class="modal fade" id="myModal1" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">2. How can I participate in a event?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>You can participate in a event by clicking on plus sign on event tile. 
                                        In case you are logged in, you will be able to participate in a event.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!-- /3.FAQ-->
                        <button type="button" class="btn btn-default btn-md" id="myBtn2">3. How can I create new event?</button>

                        <div class="modal fade" id="myModal2" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">3. How can I create new event?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            You can create new event by filling create new event form. You can access this form by scrolling down on main page,
                                            and clicking on teal link create event form.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!-- /4.FAQ-->
                        <button type="button" class="btn btn-default btn-md" id="myBtn3">4. Why is my event not visible?</button>

                        <div class="modal fade" id="myModal3" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">4. Why is my event not visible?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            After creating an event you need to wait for approval by site admin. After your event is approved, other employees
                                            can join in.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!-- /5.FAQ-->
                        <button type="button" class="btn btn-default btn-md" id="myBtn4">5. How can I view details of an event?</button>

                        <div class="modal fade" id="myModal4" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">5. How can I view details of an event?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            By clicking on event image on main page of BPEM you are redirected to details of an event.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!-- /6.FAQ-->
                        <button type="button" class="btn btn-default btn-md" id="myBtn5">6. Where can I see competition results?</button>

                        <div class="modal fade" id="myModal5" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">6. Where can I see competition results?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Competition results are displayed on main page in recent winners section.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!-- /7.FAQ-->
                        <button type="button" class="btn btn-default btn-md" id="myBtn6">7. What is difference between meetings, games, and competitions?</button>

                        <div class="modal fade" id="myModal6" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">7. What is difference between meetings, games, and competitions?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Usually games, and competions have winners. In case of competitions those winners can win prices.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                            <!-- /8.FAQ-->
                        <button type="button" class="btn btn-default btn-md" id="myBtn7">8. How can I log in to the application?</button>

                        <div class="modal fade" id="myModal7" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                        <h4 class="modal-title">8. How can I log in to the application?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            You can log into application by clicking on Login button in top right corner. You will have several posibilties for login.
                                            You can login with your email, and password. Also you can use you facebook, gmail, or linkedin profile.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>             
                    </div>
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /black -->

    <! ========== FOOTER ========================================================================================================
    =============================================================================================================================>

    <div id="f">
        <div class="container">
            <div class="row">
                <!-- ADDRESS -->
                <div class="col-lg-3">
                    <h4>Blue Pumpkinn</h4>
                    <p>
                        Sancova 63<br />
                        Postal 83104<br />
                        Bratislava, Slovakia<br />
                    </p>
                    <p>
                        <i class="fa fa-mobile"></i> +421 910 589 859<br />
                        <i class="fa fa-envelope-o"></i> info@bluepumpkinn.com
                    </p>
                </div><! --/col-lg-3 -->

                <!-- TWEETS -->
                <div class="col-lg-3">
                    <h4>Recent Tweets</h4>
                    <div id="showtweets"></div>
                    <script>
							twitterFetcher.fetch('258157205101088768', 'showtweets', 2, true, false, false, '', false, handleTweets, false);

							function handleTweets(tweets){
							    var x = tweets.length;
							    var n = 0;
							    var element = document.getElementById('showtweets');
							    var html = '<ul>';
							    while(n < x) {
							      html += '<li>' + tweets[n] + '</li>';
							      n++;
							    }
							    html += '</ul>';
							    element.innerHTML = html;
							}
                    </script>
                    <p>Follow us</p>
                </div><!-- /col-lg-3 -->
                <!-- LATEST POSTS -->
                <div class="col-lg-3">
                    <h4>Latest Posts</h4>
                    <p>
                        <i class="fa fa-angle-right"></i> Thanks for building this page.<br />
                        <i class="fa fa-angle-right"></i> Have a nivce day Cristiano.<br />
                        <i class="fa fa-angle-right"></i> We will win the next competition, i promise.<br />
                        <i class="fa fa-angle-right"></i> Nobody here?<br />
                        <i class="fa fa-angle-right"></i> I need more peaple, let's join.<br />
                    </p>
                </div><!-- /col-lg-3 -->
                <!-- NEW PROJECT -->
                <div class="col-lg-3">
                    <h4>Latest proposed Event</h4>
                    @*<a href="#"><img class="img-responsive" src="assets/img/portfolio/port03.jpg" alt="" /></a>*@
                <p>There isn't any new proposed event.</p>
                </div><!-- /col-lg-3 -->
            </div><! --/row -->
        </div><!-- /container -->
    </div><!-- /f -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AnimOnScroll.js"></script>
    <script src="~/Scripts/retina.js"></script>

    <script>
		$(window).scroll(function() {
			$('.si').each(function(){
			var imagePos = $(this).offset().top;

			var topOfWindow = $(window).scrollTop();
				if (imagePos < topOfWindow+400) {
					$(this).addClass("slideUp");
				}
			});
		});
    </script>
    <script>
        $(document).ready(function () {
            $("#myBtn").click(function () {
                $("#myModal").modal("toggle");
            });
        });

        $(document).ready(function () {
            $("#myBtn1").click(function () {
                $("#myModal1").modal("toggle");
            });
        });

        $(document).ready(function () {
            $("#myBtn2").click(function () {
                $("#myModal2").modal("toggle");
            });
        });

        $(document).ready(function () {
            $("#myBtn3").click(function () {
                $("#myModal3").modal("toggle");
            });
        });

        $(document).ready(function () {
            $("#myBtn4").click(function () {
                $("#myModal4").modal("toggle");
            });
        });

        $(document).ready(function () {
            $("#myBtn5").click(function () {
                $("#myModal5").modal("toggle");
            });
        });

        $(document).ready(function () {
            $("#myBtn6").click(function () {
                $("#myModal6").modal("toggle");
            });
        });

        $(document).ready(function () {
            $("#myBtn7").click(function () {
                $("#myModal7").modal("toggle");
            });
        });
    </script>

</body>
</html>
