
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blue Pumpkin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-home"></i>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
</button>
                @Html.ActionLink("Blue Pumpkin", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>    
                    <li><a href="/#contact">Contact</a></li>
                    <li><a href="/#company">About</a></li>
                    <li><a href="/#FAQ">FAQ</a></li>
                    @*<li><a href="/#FAQ">FAQ</li>*@
                    @if (User.IsInRole("Employee"))
                    {
                        <li>@Html.ActionLink("Your Account", "User", "User")</li>
                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                    }                
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="pull-left"><p>&copy; @DateTime.Now.Year - BLUE PUMPKIN EVENT MANAGER</p></div>
            <div class="pull-right">
                <span class="fa fa-html5 fa-lg">HTML5</span>
                <span class="fa fa-css3 fa-lg">CSS3</span>
                <span class="fa fa-github fa-lg">GitHub</span>
                <span class="fa fa-windows fa-lg">ASP.NET</span>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
